@import url(https://fonts.bunny.net/css?family=aldrich:400);
@import url(https://fonts.bunny.net/css?family=almarai:300);
@import url(https://fonts.bunny.net/css?family=aguafina-script:400);

@import url(nav.css);
@import url(services.css);
@import url(activity.css);
@import url(display.css);
@import url(footer.css);
@import url(styling.css);
@import url(attachment.css);
@import url(header.css);
@import url(carousel.css);

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
}

:root {
  --custom-width: 90%;
  --text-font: "Almarai", sans-serif;
  --text-fontsize: 14px;
  --header-font: "Aldrich", sans-serif;
  --logo-text: 'Aguafina Script', handwriting;;

}

/* From Uiverse.io by vinodjangid07 */
.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  transition-duration: 0.3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px white;
}

/* ------------------------------------------- */
